<section class="row">

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-11">
      <h2> Bem-vido ao Climatico</h2>
      <p>Consulte aqui a previsão do tempo e tenha todas as informações do tempo antes de sair de casa.</p>
    </div>
  </div>
  <br>
  <br>
  <div class="col-md-3"></div>

  <div class="col-md-9">
    <h3>
      <button mat-icon-button (click)="favoritar();"><!--TO_DO -->
        <mat-icon aria-label="Favoritar cidade" color="accent" matTooltip="Click para favoritar">{{iconeFavorito}}</mat-icon>
      </button>
      {{tituloRegiaoPais}}
    </h3>
    <br>
    <form [formGroup]="formulario">

      <mat-form-field class="select-estados">
        <mat-select placeholder="Estado" name="estado" (change)="onBuscarCidades()" formControlName="estado">
          <mat-option *ngFor="let estado of estadosBrasilApi" [value]="estado">
            {{ estado.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input type="text" placeholder="Cidade" aria-label="Number" matInput 
          formControlName="cidade" [matAutocomplete]="autoCidade"
          name="cidade" #inputAutoCompleteCidade (blur)="verificarCampos($event)">
        <mat-autocomplete #autoCidade="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptionsCidades | async" [value]="option.toponymName">
            {{ option.toponymName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button mat-icon-button (click)="onBuscarPrevisaoTempo($event)" calss="button-busca" 
        [disabled]="!validCampos" matTooltip="Buscar previsão do tempo">
        <mat-icon aria-label="Obter previsão do tempo" color="primary">cloud_done</mat-icon>
      </button>
    </form>

    <div class="row">
      <div class="col-lg-6 col-sm-6 col-xs-11 col-md-7">
        <mat-card>
          <mat-card-content>
            <div class="row">
              <div class="col-md-4 col-xs-4 col-lg-4 temp-agora negrito">
                {{temperaturaAtual}}°C
              </div>
              <div class="col-md-4 col-xs-4 col-lg-4">
                <span>Max.</span>
                <span class="temp-agora-max-min">{{tempMinima}}°C</span>
              </div>
              <div class="col-md-4 col-xs-4 col-lg-4">
                <span>Min.</span>
                <span class="temp-agora-max-min"> {{tempMaxima}}°C</span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</section>

<section class="row">
  <h3>Previão da Semana</h3>
  <hr/>
  <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 container-temp-semana" 
    *ngFor="let prev of previsaoSemana">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-md-6 col-xs-6">
            <span>Max.</span>
            <span class="temp-semana-max negrito">{{prev.high}}°C</span>
          </div>
          <div class="col-md-6 col-xs-6">
            <span>Min.</span>
            <span class="temp-semana-min">{{prev.low}}°C</span>
          </div>
        </div>
        <span class="temp-semana-data">{{formatarDataPt_BR(prev.day + ' ' + prev.date)}}</span>
      </mat-card-content>
    </mat-card>
  </div>

</section>